<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.filmee.myapp.mapper.FilmMapper">

    <select id="selectFilmInfo" resultType="com.filmee.myapp.domain.FilmVO">
    
	SELECT *
	FROM FM_FILM
	WHERE FILM_ID = #{FILM_ID}
		
    </select>
    
    <select id="selectFilmPeople" resultType="com.filmee.myapp.domain.FilmPeopleVO">
    

 	SELECT 
        P.ENNAME,FP.*
    FROM FM_FILM_PEOPLE FP,  FM_PEOPLE P 
    WHERE FP.PEOPLE_ID = P.PEOPLE_ID
    AND FP.FILM_ID = #{FILM_ID}
    ORDER BY FP.CREDIT_ORDER
    
    </select> 
    
    <select id="selectGenre" resultType="com.filmee.myapp.domain.FilmGenreVO">
    SELECT *
	FROM FM_GENRE G
	WHERE G.FILM_ID = #{FILM_ID}
    </select>

	<insert id="insert">
        INSERT INTO FM_REVIEW (film_id, writer, rate, content, watched_date, is_spoiled)
        VALUES(#{film_id}, #{writer}, #{rate}, #{content}, #{watched_date, jdbcType=VARCHAR}, #{is_spoiled})
	</insert>


	
	<select id="select" resultType="com.filmee.myapp.domain.ReviewFilmUserVO">
	
	SELECT 
     R.*, F.title, F.original_title, F.release_date,'YYYY', F.poster_path, u.nickname
	FROM fm_review R, fm_film F, fm_user u
    WHERE R.film_id = F.film_id
    AND R.writer = u.user_id
	AND R.rno = #{RNO}
	
	</select>
	
    <select id="selectList" resultType="com.filmee.myapp.domain.ReviewFilmUserVO">   
    
   	SELECT 
     R.*, F.title, F.original_title, F.release_date,'YYYY', F.poster_path, u.nickname
	FROM fm_review R, fm_film F, fm_user u
    WHERE R.film_id = F.film_id
    AND R.writer = u.user_id
	AND R.film_id = #{film_id}
    ORDER BY R.insert_ts DESC     
<!--      SELECT /*+ index_desc(fm_review) */ *
     FROM fm_review
     WHERE FILM_ID = #{FILM_ID} -->
   </select>
   
   <delete id="delete">
      DELETE FROM FM_REVIEW
   	  WHERE RNO = #{RNO}
   </delete>
   
   <update id="update">
     UPDATE fm_review
     SET
        film_id = #{film_id},
        writer = #{writer},
        rate = #{rate},
        CONTENT = #{content},
        WATCHED_DATE = #{watched_date, jdbcType=VARCHAR},        
        is_spoiled = #{is_spoiled},
        update_ts = current_date
    WHERE
        rno = #{rno}
   </update>
   
   <select id="selectListWithPaging" resultType="com.filmee.myapp.domain.ReviewFilmUserVO" >
              SELECT
            /*+ index_desc(RFU) */ *
        FROM
            (SELECT R.RNO, R.FILM_ID, R.WRITER, R.RATE,
                       R.CONTENT, R.INSERT_TS, R.UPDATE_TS, R.DELETE_TS,
                       R.WATCHED_DATE, R.IS_SPOILED, R.LIKE_CNT,
                       F. TITLE, F.ORIGINAL_TITLE, F. RELEASE_DATE, F.POSTER_PATH,
                       U.NICKNAME 
              FROM fm_review R, fm_film F, fm_user U 
               WHERE R.film_id = F.film_id
               AND R.writer = U.user_id
               AND F.film_id = #{film_id}) RFU
        OFFSET ( #{currPage} - 1 ) * #{amount} ROWS
        FETCH NEXT #{amount} ROWS ONLY
    
    </select>
    
    <select id="selectTotalCount" resultType="int">         
        SELECT COUNT(rno)
        FROM fm_review
        WHERE film_id =#{film_id}
    </select>


</mapper>
