<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.filmee.myapp.mapper.JoinMapper">

    <insert id="insertUser">
        
		INSERT INTO
	    	fm_user(email, password, nickname, salt, auth_code)
		VALUES
	    	(#{email}, #{password}, #{nickname}, #{salt}, #{authCode})

	</insert>
	
	<select id="countUsersWithEmail" resultType = "int">
		SELECT count(*)
		FROM fm_user
		WHERE email = #{email}
	</select>
	
	<select id="countUsersWithNickname" resultType = "int">
		SELECT count(*)
		FROM fm_user
		WHERE nickname = #{nickname}
	</select>
	
	<!-- <select id="selectAuthCodeWithEmail" resultType = "string">
		SELECT auth_code
		FROM fm_user
		WHERE email=#{email}
	</select> -->

	<update id="updateAuthCodeAuthorized">
		UPDATE fm_user
		   SET auth_code='authorized'
		 WHERE email=#{email}
		   AND #{authCode}=( 
			 			   SELECT auth_code
							 FROM fm_user
							WHERE email=#{email}
		   					)
	</update>
	
	
</mapper>