<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.filmus.myapp.mapper.AdminMapper">

    <select id="totalCount" resultType="com.filmus.myapp.domain.AdminVO">
		SELECT (SELECT COUNT(bno)
		        FROM fm_board
		        WHERE to_char(insert_ts, 'yy/mm/dd')=to_char(current_date, 'yy/mm/dd')) as countbno,
		        (SELECT COUNT(rno)
		        FROM fm_review
		        WHERE to_char(insert_ts, 'yy/mm/dd')=to_char(current_date, 'yy/mm/dd')) as countrno,
		        (SELECT COUNT(rptno)
		        FROM fm_report
		        WHERE to_char(insert_ts, 'yy/mm/dd')=to_char(current_date, 'yy/mm/dd')) as countrptno,
		        (SELECT COUNT(compno)
		        FROM fm_complaint
		        WHERE to_char(insert_ts, 'yy/mm/dd')=to_char(current_date, 'yy/mm/dd')) as compnO,
		        (SELECT COUNT(user_id)
		        FROM fm_user
		        WHERE to_char(join_ts, 'yy/mm/dd')=to_char(current_date, 'yy/mm/dd')) as useridno
		FROM DUAL
    </select>

</mapper>