<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.filmus.myapp.mapper.FilmMapper">
	
	<select id='getFilmDetail' resultType='com.filmus.myapp.domain.FilmDetailVO'>
		SELECT film_id, original_title, to_char(release_date, 'yyyy'), plot, poster_path, backdrop_path
		FROM fm_film
		WHERE film_id=#{filmId}
	</select>
	
	<select id='getFilmPeople' resultType='com.filmus.myapp.domain.FilmPeopleVO'>
		SELECT fp.people_id, fp.credit_order, p.enname
		FROM fm_film_people fp
		INNER JOIN fm_people p
				ON fp.people_id = p.people_id
		WHERE fp.film_id=#{filmId}
		ORDER BY fp.credit_order
	</select>
	
	<insert id="insertReview">
		INSERT INTO fm_review(film_id, writer, rate, content)
		VALUES (#{filmId}, #{writer}, #{rating}, #{content})
	</insert>
	
	<select id="getReviews" resultType="com.filmus.myapp.domain.FilmReviewVO">
		SELECT	/*+ index_desc(fm_review_pk) */
				f.rno, f.writer, f.rate, f.rate*20 AS width, f.content, f.insert_ts, f.update_ts, f.like_cnt, f.comment_cnt, u.nickname, u.profile_photo_path
		FROM fm_review f
		INNER JOIN fm_user u
				ON f.writer = u.user_id
		WHERE film_id=#{filmId}
	</select>

</mapper>